In [1]:
import pandas as pd 
import numpy as np 
import re

In [2]:
def reader(file):
    try:
        df = pd.read_csv(file)
    except UnicodeDecodeError:
        df = pd.read_csv(file, encoding='iso-8859-1')
    df.name = file[4:]
    return df

In [4]:
df=pd.read_clipboard(sep=',', engine='python'); df.head()

    id      date      ref_col
0  101  1/7/2018  1011/7/2018
1  101  2/7/2018  1012/7/2018
2  101  3/7/2018  1013/7/2018

In [5]:
df2=pd.read_clipboard(sep=',', engine='python'); df2.head()

    id      date      ref_col
0  101  1/7/2018  1011/7/2018
1  101  3/7/2018  1013/7/2018

In [13]:
df.merge(df2, left_on=['ref_col'], right_on=['ref_col'])

   id_x    date_x      ref_col  id_y    date_y
0   101  1/7/2018  1011/7/2018   101  1/7/2018
1   101  3/7/2018  1013/7/2018   101  3/7/2018

In [9]:
new_df = df.join(df2, on='ref_col')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [8]:
new_df

   id_x    date_x      ref_col  id_y    date_y
0   101  1/7/2018  1011/7/2018   101  1/7/2018
1   101  3/7/2018  1013/7/2018   101  3/7/2018

In [14]:
pre_account_df = reader('old/cleaned_account_CLICKTALE.csv')
pre_billing_df = reader('old/cleaned_billing_CLICKTALE.csv')
raw_contract_details_df = reader('old/raw_contract_details_CLICKTALE.csv')
raw_clicktale_accounts_df = reader('old/raw_clicktale_accounts_CLICKTALE.csv')
raw_accounts_details_df = reader('old/raw_accounts_details_CLICKTALE.csv')
pre_cleaned_usage = reader('old/cleaned_usage_CLICKTALE.csv')

In [15]:
pre_cleaned_usage.head()

,username,recipe_execution_date,client_id,date,id,pid_name,created_date_timestamp,recordings,pai_account_id
0,clicktale@austrian.com,2018-08-19,4,2018-08-07,233036_31,www.austrian.com,2017-11-01,2194102,0012000000X7YYh
1,clicktale@austrian.com,2018-08-19,4,2018-08-07,233036_31,www.austrian.com,2017-10-01,2478784,0012000000X7YYh
2,clicktale@austrian.com,2018-08-19,4,2018-08-07,233036_31,www.austrian.com,2017-09-01,2392166,0012000000X7YYh
3,clicktale@austrian.com,2018-08-19,4,2018-08-07,233036_31,www.austrian.com,2017-08-01,2136508,0012000000X7YYh
4,clicktale@austrian.com,2018-08-19,4,2018-08-07,233036_31,www.austrian.com,2017-07-01,2465812,0012000000X7YYh

In [22]:
r = pre_cleaned_usage.date.apply(pd.to_datetime)

In [23]:
r[0]

Timestamp('2018-08-07 00:00:00')

In [ ]:
r.

In [19]:
pd.to_datetime(pre_cleaned_usage.date)

0       2018-08-07
1       2018-08-07
2       2018-08-07
3       2018-08-07
4       2018-08-07
5       2018-08-07
6       2018-08-07
7       2018-08-07
8       2018-08-07
9       2018-08-07
10      2018-08-07
11      2018-08-07
12      2018-08-07
13      2018-08-07
14      2018-08-07
15      2018-08-07
16      2018-08-07
17      2018-08-07
18      2018-08-07
19      2018-08-07
20      2018-08-07
21      2018-08-07
22      2018-08-07
23      2018-08-07
24      2018-08-07
25      2018-08-07
26      2018-08-07
27      2018-08-07
28      2018-08-07
29      2018-08-07
           ...
10531   2018-08-07
10532   2018-08-07
10533   2018-08-07
10534   2018-08-07
10535   2018-08-07
10536   2018-08-07
10537   2018-08-07
10538   2018-08-07
10539   2018-08-07
10540   2018-08-07
10541   2018-08-07
10542   2018-08-07
10543   2018-08-07
10544   2018-08-07
10545   2018-08-07
10546   2018-08-07
10547   2018-08-07
10548   2018-08-07
10549   2018-08-07
10550   2018-08-07
10551   2018-08-07
10552   2018-08-07
10553   2018-08-07
10554   2018-08-07
10555   2018-08-07
10556   2018-08-07
10557   2018-08-07
10558   2018-08-07
10559   2018-08-07
10560   2018-08-07
Name: date, Length: 10561, dtype: datetime64[ns]

In [16]:
reader('new/cleaned_usage_df.csv')

,username,recipe_execution_date,client_id,date,id,pid_name,created_date_timestamp,recordings,pai_account_id
0,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-11-01 00:00:00,2194102,0012000000X7YYh
1,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-10-01 00:00:00,2478784,0012000000X7YYh
2,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-09-01 00:00:00,2392166,0012000000X7YYh
3,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-08-01 00:00:00,2136508,0012000000X7YYh
4,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-07-01 00:00:00,2465812,0012000000X7YYh
5,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-06-01 00:00:00,2453257,0012000000X7YYh
6,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-05-01 00:00:00,2831340,0012000000X7YYh
7,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-04-01 00:00:00,2113202,0012000000X7YYh
8,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-03-01 00:00:00,2502332,0012000000X7YYh
9,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-02-01 00:00:00,1878466,0012000000X7YYh
10,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-01-01 00:00:00,1889493,0012000000X7YYh
11,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2018-05-01 00:00:00,2007818,0012000000X7YYh
12,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2018-02-01 00:00:00,2230658,0012000000X7YYh
13,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2018-04-01 00:00:00,2640263,0012000000X7YYh
14,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2017-12-01 00:00:00,2178316,0012000000X7YYh
15,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2018-01-01 00:00:00,3586283,0012000000X7YYh
16,clicktale@austrian.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233036_31,www.austrian.com,2018-03-01 00:00:00,2692220,0012000000X7YYh
17,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-11-01 00:00:00,594722,001D0000019al3n
18,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-10-01 00:00:00,456051,001D0000019al3n
19,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-09-01 00:00:00,483570,001D0000019al3n
20,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-02-01 00:00:00,333007,001D0000019al3n
21,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-01-01 00:00:00,338225,001D0000019al3n
22,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-08-01 00:00:00,600870,001D0000019al3n
23,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-07-01 00:00:00,688377,001D0000019al3n
24,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-06-01 00:00:00,661466,001D0000019al3n
25,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-05-01 00:00:00,610779,001D0000019al3n
26,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-04-01 00:00:00,597698,001D0000019al3n
27,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2017-03-01 00:00:00,348732,001D0000019al3n
28,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2018-02-01 00:00:00,638863,001D0000019al3n
29,clicktale@sunglasshut.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,120138_283,Sunglasshut,2018-05-01 00:00:00,881064,001D0000019al3n
...,...,...,...,...,...,...,...,...,...
10118,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_101,Policy Servicing Tool,2017-03-01 00:00:00,43711,001D000001JDR4h
10119,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_101,Policy Servicing Tool,2017-02-01 00:00:00,33115,001D000001JDR4h
10120,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_101,Policy Servicing Tool,2017-01-01 00:00:00,31918,001D000001JDR4h
10121,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_101,Policy Servicing Tool,2018-02-01 00:00:00,35,001D000001JDR4h
10122,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_101,Policy Servicing Tool,2018-03-01 00:00:00,3,001D000001JDR4h
10123,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_101,Policy Servicing Tool,2017-12-01 00:00:00,2007,001D000001JDR4h
10124,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_101,Policy Servicing Tool,2018-01-01 00:00:00,2245,001D000001JDR4h
10125,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_82,Safeco,2018-05-01 00:00:00,200170,001D000001JDR4h
10126,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_82,Safeco,2018-02-01 00:00:00,2731911,001D000001JDR4h
10127,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_82,Safeco,2018-03-01 00:00:00,3029885,001D000001JDR4h
10128,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_82,Safeco,2018-04-01 00:00:00,2950090,001D000001JDR4h
10129,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_82,Safeco,2017-12-01 00:00:00,1615287,001D000001JDR4h
10130,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_82,Safeco,2018-01-01 00:00:00,2304349,001D000001JDR4h
10131,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_240,Safeco Now,2018-05-01 00:00:00,46634,001D000001JDR4h
10132,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_240,Safeco Now,2018-02-01 00:00:00,437994,001D000001JDR4h
10133,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_240,Safeco Now,2018-03-01 00:00:00,474286,001D000001JDR4h
10134,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_240,Safeco Now,2018-04-01 00:00:00,445961,001D000001JDR4h
10135,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_240,Safeco Now,2017-12-01 00:00:00,220739,001D000001JDR4h
10136,clicktale@safeco.com,2018-08-19 00:00:00,3,2018-08-07 00:00:00,232781_240,Safeco Now,2018-01-01 00:00:00,30909,001D000001JDR4h
10137,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-11-01 00:00:00,2,001D000001f0Ikr
10138,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-10-01 00:00:00,14,001D000001f0Ikr
10139,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-09-01 00:00:00,4,001D000001f0Ikr
10140,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-08-01 00:00:00,62,001D000001f0Ikr
10141,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-07-01 00:00:00,314,001D000001f0Ikr
10142,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-06-01 00:00:00,380303,001D000001f0Ikr
10143,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-05-01 00:00:00,706916,001D000001f0Ikr
10144,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-04-01 00:00:00,796224,001D000001f0Ikr
10145,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-03-01 00:00:00,793985,001D000001f0Ikr
10146,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-02-01 00:00:00,417149,001D000001f0Ikr
10147,clicktale@henkel.de,2018-08-19 00:00:00,3,2018-08-07 00:00:00,233235_23,Schwarzkopf.de,2017-01-01 00:00:00,250136,001D000001f0Ikr

In [19]:
raw = [pre_account_df, pre_billing_df, raw_contract_details_df, raw_clicktale_accounts_df, raw_accounts_details_df]

In [29]:
def fix_col_names(df):
    return [re.sub(' ','_', x.lower()) for x in list(df)]

In [30]:
column_list = [fix_col_names(x) for x in raw]

In [34]:
for idx, names in enumerate(column_list):
    print(raw[idx].name, [name for name in names if name in fix_col_names(orig)])

cleaned_account_CLICKTALE.csv ['client_id', 'recipe_execution_date', 'pai_account_id', 'username', 'country', 'account_name', 'total_consulting_hours', 'cx_hours', 'services_sold', '%_pvs_used', 'deployment_hours_sold', 'deployment_delivered', 'monthly_pv_in_millions', 'number_of_reports_sold', 'number_of_analyses_sold', 'tech_lead', 'cec', 'csm', 'last_month_recordings', '%_pvs_used_to_totango']
cleaned_billing_CLICKTALE.csv ['username', 'recipe_execution_date', 'client_id', 'pai_account_id']
raw_contract_details_CLICKTALE.csv ['username', 'account_name', 'deployment_hours_sold', 'total_consulting_hours']
raw_clicktale_accounts_CLICKTALE.csv ['country', 'account_name', 'total_consulting_hours', 'services_sold', '%_pvs_used', 'deployment_hours_sold', 'deployment_delivered', 'tech_lead', 'cec', 'csm', 'last_month_recordings']
raw_accounts_details_CLICKTALE.csv ['username', 'account_name', 'source_channel', 'industry', 'sub_industry', 'country', 'sales_territory', 'region', 'number_of_opps', 'cec', 'csm', 'last_month_recordings']

In [6]:
pre_account_df.head()

,client_id,recipe_execution_date,pai_account_id,username,country,account_name,total_consulting_hours,cx_hours,services_sold,%_pvs_used,deployment_hours_sold,deployment_delivered,monthly_pv_in_millions,number_of_reports_sold,number_of_analyses_sold,tech_lead,cec,csm,last_month_recordings,%_pvs_Used_to_totango
0,3,2018-09-02,001D0000029fcDh,yuuta.narikawa@toranoana.co.jp,Japan,Toranoana,0,0,0 Consulting Hours,58,0,0 Hours,1.0,0,0,NaN,No,NaN,800563,58%
1,3,2018-09-02,001D000002BC2R8,yuto.kikuchi@aktsk.jp,Japan,Akatsuki,0,0,0 Consulting Hours,41,0,0 Hours,0.5,0,0,NaN,No,NaN,541748,41%
2,3,2018-09-02,001D000001vOPhg,yutaka.kaneko@sonybank.co.jp,Japan,Sony Bank,0,0,"""0 Consulting Hours, 80 Deployment Hours""",114,80,0 Hours,1.0,0,0,NaN,NaN,NaN,1604755,114%
3,3,2018-09-02,001D000001Um4IT,yasushi.watanuki@g.softbank.co.jp,Japan,SoftBank Group Corp,0,0,0 Consulting Hours,107,0,0 Hours,3.0,0,0,NaN,No,NaN,4896318,107%
4,3,2018-09-02,001D000001m5Rsz,workiva@clicktale.com,US,Workiva Inc.,0,20,"""0 Consulting Hours, 70 Deployment Hours""",60,70,12 Hours,0.3,0,0,Aaron Lesser,NaN,Aaron Lesser,3736,60%

In [7]:
orig = reader('new/cleaned_account_df.csv')

In [8]:
orig.head()

,%_pvs_Used_to_totango,%_pvs_used,account_name,cancellation_reason,cec,churn_probability,churn_probability_date,client_id,contract_term,country,...,recipe_execution_date,region,sales_territory,services_sold,source_channel,sub_industry,tech_lead,time_zone,total_consulting_hours,username
0,415%,415,Booking.com,NaN,NaN,NaN,NaN,3,NaN,Netherlands,...,2018-09-02 00:00:00,Benelux,NaN,"""0 Consulting Hours, 70 Deployment Hours""",Customer Database,Travel,Jessica Jaffe,NaN,0,ClickTale@booking.com
1,415%,415,Booking.com,NaN,NaN,NaN,NaN,3,NaN,Netherlands,...,2018-09-02 00:00:00,Benelux,NaN,"""0 Consulting Hours, 70 Deployment Hours""",Customer Database,Travel,Jessica Jaffe,NaN,0,ClickTale@booking.com
2,415%,415,Booking.com,NaN,NaN,NaN,NaN,3,NaN,Netherlands,...,2018-09-02 00:00:00,Benelux,NaN,"""0 Consulting Hours, 70 Deployment Hours""",Customer Database,Travel,Jessica Jaffe,NaN,0,ClickTale@booking.com
3,43%,43,Belron,NaN,NaN,NaN,NaN,3,NaN,United Kingdom,...,2018-09-02 00:00:00,UK&I,NaN,"""160 Consulting Hours, 170 Deployment Hours""",Demo Request,NaN,Rachel Jaret,NaN,160,craigs@belron.com
4,43%,43,Belron,NaN,NaN,NaN,NaN,3,NaN,United Kingdom,...,2018-09-02 00:00:00,UK&I,NaN,"""160 Consulting Hours, 170 Deployment Hours""",Demo Request,NaN,Rachel Jaret,NaN,160,craigs@belron.com

# Billing

In [46]:
billing = reader('old/cleaned_billing_CLICKTALE.csv')
# df.drop(columns=['Unnamed: 0'], inplace=True) # index_col
billing.head()

,Username,billing_period,recipe_execution_date,client_id,Contract ID,ACV,created_date,Invoiced,billing_id,Invoice Due Date,status,Total Amount Invoiced,pai_account_id
0,sisalclicktale@bitbang.it,NaN,2018-08-19,4,800D0000003RDQX,2400.0,NaN,0,NaN,NaN,0,0,NaN
1,clicktale2@thetrainline.com,NaN,2018-08-19,4,800D0000004pqvQ,215000.0,NaN,0,NaN,NaN,0,0,001D000001PtjsP
2,clicktale2@thetrainline.com,NaN,2018-08-19,4,800D0000004qRnP,185000.0,NaN,0,NaN,NaN,0,0,001D000001PtjsP
3,jalbertelli@vai.net,NaN,2018-08-19,4,800D0000003RqKR,1500.0,NaN,0,NaN,NaN,0,0,NaN
4,clicktale@morhipo.com,NaN,2018-08-19,4,800D0000002jG2y,37000.0,NaN,0,NaN,NaN,0,0,001D000001bit6L

In [43]:
pre_cleaned_billing_df = reader('old/cleaned_billing_CLICKTALE.csv')
raw_billing_df = reader('old/raw_billing_CLICKTALE.csv')
contract_details_df = reader('old/raw_contract_details_CLICKTALE.csv')
raw_clicktale_accounts_df = reader('old/raw_clicktale_accounts_CLICKTALE.csv')

In [44]:
raw = [pre_cleaned_billing_df, raw_billing_df, contract_details_df, raw_clicktale_accounts_df]

In [47]:
list(billing)

['Username',
 'billing_period',
 'recipe_execution_date',
 'client_id',
 'Contract ID',
 'ACV',
 'created_date',
 'Invoiced',
 'billing_id',
 'Invoice Due Date',
 'status',
 'Total Amount Invoiced',
 'pai_account_id']

In [45]:
[list(x) for x in raw]

[['Username',
  'billing_period',
  'recipe_execution_date',
  'client_id',
  'Contract ID',
  'ACV',
  'created_date',
  'Invoiced',
  'billing_id',
  'Invoice Due Date',
  'status',
  'Total Amount Invoiced',
  'pai_account_id'],
 ['Contract ID',
  'Username',
  'ACV',
  'Invoice Date',
  'Invoiced',
  'Invoice Number',
  'Invoice Due Date',
  'Invoice Paid',
  'Total Amount Invoiced'],
 ['Username',
  'Account Name',
  'Contract Start Date',
  'Contract End Date',
  'Payment Terms',
  'ACV',
  'Booking Amount ($)',
  'Account Stage',
  'Invoice Due Date',
  'Invoice Date',
  'Churned Date',
  'History (days)',
  'New Cases Last 6 Months',
  'Contract Months',
  'Contract Type',
  'Contract Sub Type',
  'Financial Month',
  'Contract Owner',
  'Estimated Monthly Traffic',
  'Monthly PV (millions)',
  'Analyses sold',
  'Report sold',
  'Deployment Hours Sold',
  'Total Consulting Hours'],
 ['Account ID',
  'TT Username',
  'Country',
  'Account Name',
  'Account Stage',
  'Contract Start Date',
  'Contract Final End Date',
  'Created Date',
  'Last Modified Date',
  'Churned Date',
  'Total Consulting Hours',
  '# CX Hours',
  'Services Sold',
  '% PVs Used',
  'Deployment hours Sold',
  'Deployment Delivered',
  'Type',
  'Monthly PV (millions)',
  '# of reports sold',
  '# of analyses sold',
  'Tech Lead',
  'CEC',
  'CSM',
  'Last Month Recordings',
  '% PVs Used - to totango']]